body{
    background-color: black;
}
h1{
    color: orangered;
    font-size: 100px;
}
p{
    color: darkgray;
}
#sketchcontainer {
    background-color: white;
	position: relative;
	top: 30px;
	outline:10px solid red;
	font-size: 0;
	margin:auto;
	height:640px;
	width:640px;
	padding: 0;
    border: none;
}

.grid {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
}
button{
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background-color: red;
    border: 1px solid red;
}
button:hover{
    transition: ease-in 0.2s;
    background-color: black;
    color: white;
}